## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
import os

In [3]:
import os
import pandas as pd

# O '../../' sobe dois níveis: sai de 'Conceitos básicos...' e depois de 'Analisando Dados...'
caminho_relativo = '../../projetos/analise-precos-gasoxlina/gasolina_2000+.csv'

caminho_final = os.path.abspath(caminho_relativo)
print(f"O Python está olhando aqui: {caminho_final}")

# Teste se o arquivo existe antes de ler para não dar erro
if os.path.exists(caminho_final):
    df = pd.read_csv(caminho_final)
    print("Sucesso! Arquivo lido.")
else:
    print("ERRO: O arquivo ainda não foi encontrado nesse caminho.")

O Python está olhando aqui: c:\Users\Math\Desktop\development\asimovstudies\asimovstudies\revisao_pandas_sql\projetos\analise-precos-gasoxlina\gasolina_2000+.csv
ERRO: O arquivo ainda não foi encontrado nesse caminho.

Subir apenas um caminho

In [4]:
caminho_relativo = '../projetos/analise-precos-gasolina/gasolina_2000+.csv'

caminho_final = os.path.abspath(caminho_relativo)

print(f"Tentando ler: {caminho_final}")

Tentando ler: c:\Users\Math\Desktop\development\asimovstudies\asimovstudies\revisao_pandas_sql\Analisando Dados com Pandas & SQL\projetos\analise-precos-gasolina\gasolina_2000+.csv

In [5]:
if os.path.exists(caminho_final):
    df = pd.read_csv(caminho_final)
    print("Sucesso! O dataframe foi carregado.")
    display(df.head())
else:
    print("Erro: Caminho ainda está incorreto")
    print("Conteúdo da pasta acima:", os.listdir('..'))

Sucesso! O dataframe foi carregado.

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

Ajustando agora a leitura

In [6]:
import pandas as pd
import os

In [7]:
pasta_projetos = '../projetos/analise-precos-gasolina/'
caminho_2000 = os.path.join(pasta_projetos, 'gasolina_2000+.csv')
caminho_2010 = os.path.join(pasta_projetos, 'gasolina_2010+.csv')

In [8]:
df_2000 = pd.read_csv(caminho_2000)
df_2010 = pd.read_csv(caminho_2010)

#Para combinar utilize o Concat

df_gasolina = pd.concat([df_2000, df_2010], ignore_index=True)

print(f"Linhas 2000: {len(df_2000)}")
print(f"Linhas 2010: {len(df_2010)}")
print(f"Total combinado: {len(df_gasolina)}")

Linhas 2000: 42638
Linhas 2010: 78185
Total combinado: 120823

C:\Users\Math\AppData\Local\Temp\ipykernel_15588\672544259.py:2: DtypeWarning: Columns (0: MARGEM MÉDIA REVENDA, 1: PREÇO MÉDIO DISTRIBUIÇÃO, 2: DESVIO PADRÃO DISTRIBUIÇÃO, 3: PREÇO MÍNIMO DISTRIBUIÇÃO, 4: PREÇO MÁXIMO DISTRIBUIÇÃO, 5: COEF DE VARIAÇÃO DISTRIBUIÇÃO) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2010 = pd.read_csv(caminho_2010)

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [9]:
df_gasolina.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 42638 entries, 0 to 42637
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     42638 non-null  int64
 1   DATA INICIAL                   42638 non-null  str
 2   DATA FINAL                     42638 non-null  str
 3   REGIÃO                         42638 non-null  str
 4   ESTADO                         42638 non-null  str
 5   PRODUTO                        42638 non-null  str
 6   NÚMERO DE POSTOS PESQUISADOS   42638 non-null  int64
 7   UNIDADE DE MEDIDA              42638 non-null  str
 8   PREÇO MÉDIO REVENDA            42638 non-null  float64
 9   DESVIO PADRÃO REVENDA          42638 non-null  float64
 10  PREÇO MÍNIMO REVENDA           42638 non-null  float64
 11  PREÇO MÁXIMO REVENDA           42638 non-null  float64
 12  MARGEM MÉDIA REVENDA           42638 non-null  str
 13  COEF DE VARIAÇÃO REVENDA       42638 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       42638 non-null  str
 15  DESVIO PADRÃO DISTRIBUIÇÃO     42638 non-null  str
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      42638 non-null  str
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      42638 non-null  str
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  42638 non-null  str
dtypes: float64(5), int64(2), str(12)
memory usage: 6.2 MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [11]:
df_gasolina = df_gasolina.drop('Unnamed: 0', axis=1)

In [12]:
df_gasolina.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [13]:
df_gasolina['DATA INICIAL'] = pd.to_datetime(df_gasolina['DATA INICIAL'])
df_gasolina['DATA FINAL'] = pd.to_datetime(df_gasolina['DATA FINAL'])

In [14]:
df_gasolina.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [15]:
#Feito acima

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [16]:
df_gasolina['ANO-MES'] = df_gasolina['DATA FINAL'].dt.strftime('%Y-%m')

# Verificando as primeiras linhas da nova coluna
display(df_gasolina[['DATA FINAL', 'ANO-MES']].head())

  DATA FINAL  ANO-MES
0 2004-05-15  2004-05
1 2004-05-15  2004-05
2 2004-05-15  2004-05
3 2004-05-15  2004-05
4 2004-05-15  2004-05

In [17]:
df_gasolina.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-05

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [18]:
contagem_produtos = df_gasolina['PRODUTO'].value_counts()

print(contagem_produtos)

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [19]:
df_gasolina_comum = df_gasolina[df_gasolina['PRODUTO'] == 'GASOLINA COMUM'].copy()

In [20]:
print(f"Total de registros de Gasolina Comum: {len(df_gasolina_comum)}")
display(df_gasolina_comum.head())

Total de registros de Gasolina Comum: 23570

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
9256,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
9257,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
9258,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
9259,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
9260,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [21]:
df_gasolina_ago_2008 = df_gasolina_comum[df_gasolina_comum['ANO-MES'] == '2008-08']

In [22]:
preco_medio =  df_gasolina_ago_2008['PREÇO MÉDIO REVENDA'].mean()

print(f"O preço médio de revenda da gasolina em agosto de 2008 é: {preco_medio:.2f}")

O preço médio de revenda da gasolina em agosto de 2008 é: 2.60

In [23]:
# Agrupa por ANO-MES, filtra os meses de 2008 e calcula a média
media_2008 = df_gasolina_comum[df_gasolina_comum['ANO-MES'].str.contains('2008')].groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].mean()

print(media_2008)

ANO-MES
2008-01    2.612528
2008-02    2.601843
2008-03    2.604896
2008-04    2.597491
2008-05    2.590993
2008-06    2.584380
2008-07    2.592102
2008-08    2.601244
2008-09    2.611009
2008-10    2.611056
2008-11    2.620659
2008-12    2.627231
Name: PREÇO MÉDIO REVENDA, dtype: float64

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [24]:
filtro_sp_maio = (df_gasolina_comum['ANO-MES'] == '2014-05') & (df_gasolina_comum['ESTADO'] == 'SAO PAULO')

In [25]:
preco_sp_maio = df_gasolina_comum[filtro_sp_maio]['PREÇO MÉDIO REVENDA'].mean()

print(f"### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo? {preco_sp_maio}")

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo? 2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [26]:
#Filtrar apenas registros com preço superior a 5
df_acima_5 = df_gasolina_comum[df_gasolina_comum['PREÇO MÉDIO REVENDA'] > 5].copy()

#Ordenar por data para garantir a ordem cronológica
df_acima_5 = df_acima_5.sort_values('DATA FINAL')

primeira_vez_cada_estado = df_acima_5.drop_duplicates(subset='ESTADO')


display(primeira_vez_cada_estado[['ESTADO', 'ANO-MES', 'PREÇO MÉDIO REVENDA']].sort_values('ANO-MES'))

                     ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201                  ACRE  2018-05                5.053
98511        RIO DE JANEIRO  2018-06                5.016
100932            TOCANTINS  2018-09                5.041
118403  RIO GRANDE DO NORTE  2021-01                5.172
119095             AMAZONAS  2021-02                5.014
119099       ESPIRITO SANTO  2021-02                5.172
119100                GOIAS  2021-02                5.371
119101             MARANHAO  2021-02                5.252
119108           PERNAMBUCO  2021-02                5.105
119106              PARAIBA  2021-02                5.027
119113             RONDONIA  2021-02                5.165
119115       SANTA CATARINA  2021-02                5.074
119117              SERGIPE  2021-02                5.217
118915              ALAGOAS  2021-02                5.084
118918                BAHIA  2021-02                5.070
118919                CEARA  2021-02                5.135
118925   MATO GROSSO DO SUL  2021-02                5.024
118926         MINAS GERAIS  2021-02                5.043
118927                 PARA  2021-02                5.058
118934    RIO GRANDE DO SUL  2021-02                5.028
118931                PIAUI  2021-02                5.080
118743     DISTRITO FEDERAL  2021-02                5.087
119293            SAO PAULO  2021-03                5.021
119284               PARANA  2021-03                5.058
119291              RORAIMA  2021-03                5.016
119279          MATO GROSSO  2021-03                5.189

### 11. Qual a média de preço dos estados da região sul em 2012?

In [27]:
df_gasolina_comum.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
9256,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
9257,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
9258,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
9259,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
9260,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05

In [28]:
filtro_sul_2012 = (df_gasolina_comum['REGIÃO'] == 'SUL') & (df_gasolina_comum['DATA FINAL'].dt.year == 2012)

resumo_sul = df_gasolina_comum[filtro_sul_2012].groupby('ESTADO')['PREÇO MÉDIO REVENDA'].mean()

print("Média por Estado:")
print(resumo_sul.sort_values())

Média por Estado:
ESTADO
PARANA               2.684731
SANTA CATARINA       2.720288
RIO GRANDE DO SUL    2.759308
Name: PREÇO MÉDIO REVENDA, dtype: float64

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [29]:
df_rj = df_gasolina_comum[df_gasolina_comum['ESTADO'] == 'RIO DE JANEIRO'].copy()

In [30]:
#Agrupar por ano e calcular a média de preço
media_anual_rj = df_rj.groupby(df_rj['DATA FINAL'].dt.year)['PREÇO MÉDIO REVENDA'].mean()

In [31]:
#3. Calcular a variação percentual entre ano atual e o anterior
variacao_anual = media_anual_rj.pct_change() * 100

In [32]:
tabela_variacao = pd.DataFrame({
    'Preço Médio (R$)': media_anual_rj,
    'Variação (%)': variacao_anual
})

display(tabela_variacao.round(2))

            Preço Médio (R$)  Variação (%)
DATA FINAL
2004                    2.17           NaN
2005                    2.34          7.67
2006                    2.56          9.53
2007                    2.53         -1.14
2008                    2.55          0.58
2009                    2.56          0.72
2010                    2.65          3.23
2011                    2.83          6.98
2012                    2.85          0.71
2013                    3.00          5.00
2014                    3.13          4.56
2015                    3.54         12.94
2016                    3.92         10.75
2017                    4.10          4.71
2018                    4.86         18.35
2019                    4.86          0.00
2020                    4.76         -1.93
2021                    5.59         17.38

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [33]:
idx_min = df_gasolina_comum.groupby(df_gasolina_comum['DATA FINAL'].dt.year)['PREÇO MÉDIO REVENDA'].idxmin()
idx_max = df_gasolina_comum.groupby(df_gasolina_comum['DATA FINAL'].dt.year)['PREÇO MÉDIO REVENDA'].idxmax()

df_min = df_gasolina_comum.loc[idx_min, ['DATA FINAL', 'ESTADO', 'PREÇO MÉDIO REVENDA']]
df_max = df_gasolina_comum.loc[idx_max, ['DATA FINAL', 'ESTADO', 'PREÇO MÉDIO REVENDA']]

df_min['Ano'] = df_min['DATA FINAL'].dt.year
df_max['Ano'] = df_max['DATA FINAL'].dt.year

tabela_final = pd.merge(
    df_min[['Ano', 'ESTADO', 'PREÇO MÉDIO REVENDA']], 
    df_max[['Ano', 'ESTADO', 'PREÇO MÉDIO REVENDA']], 
    on='Ano', 
    suffixes=('_MIN', '_MAX')
).set_index('Ano')

tabela_final['DIF_ABSOLUTA'] = tabela_final['PREÇO MÉDIO REVENDA_MAX'] - tabela_final['PREÇO MÉDIO REVENDA_MIN']
tabela_final['DIF_PERCENTUAL'] = (tabela_final['DIF_ABSOLUTA'] / tabela_final['PREÇO MÉDIO REVENDA_MIN']) * 100

In [34]:
display(tabela_final.round(2))

,ESTADO_MIN,PREÇO MÉDIO REVENDA_MIN,ESTADO_MAX,PREÇO MÉDIO REVENDA_MAX,DIF_ABSOLUTA,DIF_PERCENTUAL
Ano,,,,,,
2004,SAO PAULO,1.89,MATO GROSSO,2.71,0.82,43.38
2005,PARANA,2.10,MATO GROSSO,2.89,0.79,37.82
2006,DISTRITO FEDERAL,2.34,MATO GROSSO,3.03,0.69,29.66
2007,AMAPA,2.21,ACRE,2.95,0.74,33.48
2008,PARANA,2.30,ACRE,2.98,0.68,29.44
2009,SAO PAULO,2.35,ACRE,2.98,0.62,26.48
2010,PARAIBA,2.38,ACRE,3.04,0.66,27.68
2011,PARAIBA,2.44,ACRE,3.26,0.82,33.70
2012,PARAIBA,2.53,ACRE,3.13,0.60,23.93
2013,PIAUI,2.62,ACRE,3.38,0.75,28.65
2014,PIAUI,2.78,ACRE,3.51,0.73,26.11
2015,PERNAMBUCO,2.89,ACRE,4.13,1.23,42.67
2016,DISTRITO FEDERAL,3.36,ACRE,4.22,0.87,25.83
2017,AMAZONAS,3.15,ACRE,4.83,1.68,53.32
2018,MARANHAO,3.80,ACRE,5.36,1.56,41.18
2019,AMAZONAS,3.56,ACRE,5.12,1.56,43.73
2020,AMAPA,2.94,RIO DE JANEIRO,5.11,2.16,73.38
2021,AMAPA,3.83,ACRE,6.69,2.86,74.62